<html>
    <head>
        <link rel="stylesheet" href="/leave.css">
        <title>You Left...</title>
    </head>
    <body>

        <div class="back-to-fountain-button">
            <a href="/">Back to Fountain to Wish?</a>
        </div>

        <div class="check-stats-after-leave">
            <a href="/stats">stats?</a>
        </div>

        <div class="left-text">
            <p>
                You have left...
            </p>
            <p>
                see
            </p>
        </div>
    </body>
</html>